h1 { color: white; }
.dvu   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(djvu.png);  }
.pdf   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(pdf.jpg);  }
